{% extends 'app.twig' %}

{% block content %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path_for('panel.products') }}">{{ 'back' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path_for('panel') }}">{{ 'home' | trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-header card-header-2" id="tabs">
                <ul class="nav nav-pills card-header-pills" id="second-tab">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-1">{{ 'edit_products' | trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div id="tabs-1">
                    <form action="{{ path_for('panel.product.edit', {id: product.id}) }}" method="post">
                        <h3>{{ 'edit_product_information' | trans }}</h3>
                        <div class="form-group">
                            <label for="name"></label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">{{ 'name' | trans }}</div>
                                </div>
                                <input type="text" class="form-control" id="name"
                                       name="name" value="{{ product.name }}"
                                       placeholder="{{ 'lua_name' | trans }}">
                            </div>


                            <label for="code"></label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Code</div>
                                </div>
                                <textarea type="text" class="form-control" id="code"
                                          name="code"
                                          placeholder="{{ 'lua_code' | trans }}"></textarea>
                            </div>

                            <label for="group_id"></label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Group</div>
                                </div>
                                <select class="form-control" id="group_id" name="group_id">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}" {{ product.group_id == group.id ? "selected " }}>
                                            {{ group.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-check" style="padding-bottom: 15px">
                
                                <label class="form-check-label" for="disable_obfuscation"
                                       style="display: contents;">
                                    
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" name="login"
                                        type="submit">{{ 'save' | trans }} <i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}