{% extends 'app.twig' %}

{% block content %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path_for('panel.groups') }}">{{'back' | trans}} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path_for('panel') }}">{{'home' | trans}}</a>
                    </li>
                </ul>
            </div>
            <div class="card-header card-header-2" id="tabs">
                <ul class="nav nav-pills card-header-pills" id="groups-admins-second-tab">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-1">{{"users" | trans}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-2">{{"admins" | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-3">{{ 'reseller' | trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div id="tabs-1" style="display: none">
                    <h3>Manage users</h3>
                    <form action="{{ path_for('panel.group.user.add', {id: group.id}) }}">

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Username</div>
                            </div>
                            <label for="username"></label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" name="login"
                                        type="submit">Add <i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                        </div>

                        <br>
                        <table id="ccTable" class="table list-item padded"
                               style="color: #adb1bd; border-color: transparent; ">
                            <thead>
                            <tr class="links">
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user1 in users %}
                                <tr class="list-item" style="height: 62px; margin: auto; background-color: #272636">
                                    <td>{{ user1.name }}</td>
                                    <td>
                                        <a href="{{ path_for('panel.group.users.delete', {id: group.id, userid: user1.id}) }}"
                                           style="margin-left: 10px; color: #adb1bd; text-decoration: none">
                                            <i class="mdi mdi-delete ml-1 mdi-24px"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

                <div id="tabs-2" style="display: none">
                    <h3>Manage admins</h3>
                    <form action="{{ path_for('panel.group.admins.add', {id: group.id}) }}">

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Username</div>
                            </div>
                            <label for="admin_name"></label>
                            <input type="text" class="form-control" id="admin_name" name="username"
                                   placeholder="Admin name">
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" name="login"
                                        type="submit">Add <i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                        </div>

                        <br>
                        <table id="ccTable2" class="table list-item padded"
                               style="color: #adb1bd; border-color: transparent; ">
                            <thead>
                            <tr class="links">
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for admin in admins %}
                                <tr class="list-item" style="height: 62px; margin: auto; background-color: #272636">
                                    <td>{{ admin.name }}</td>
                                    <td>
                                        {% if admin.id != user.id %}
                                            <a href="{{ path_for('panel.group.admins.delete', {id: group.id, userid: admin.id}) }}"
                                               style="margin-left: 10px; color: #adb1bd; text-decoration: none">
                                                <i class="mdi mdi-delete ml-1 mdi-24px"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

                <div id="tabs-3" style="display: none">
                    <h3>Reseller admins</h3>
                    <form action="{{ path_for('panel.group.reseller.add', {id: group.id}) }}">

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ "username" | trans }}</div>
                            </div>
                            <label for="admin_name"></label>
                            <input type="text" class="form-control" id="admin_name" name="username"
                                   placeholder="Reseller name">
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" name="login"
                                        type="submit">{{ "add"| trans }} <i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                        </div>

                        <br>
                        <table id="ccTable2" class="table list-item padded"
                               style="color: #adb1bd; border-color: transparent; ">
                            <thead>
                            <tr class="links">
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reseller in resellers %}
                                <tr class="list-item" style="height: 62px; margin: auto; background-color: #272636">
                                    <td>{{ reseller.name }}</td>
                                    <td>
                                        {% if reseller.id != user.id %}
                                            <a href="{{ path_for('panel.group.resellers.delete', {id: group.id, userid: reseller.id}) }}"
                                               style="margin-left: 10px; color: #adb1bd; text-decoration: none">
                                                <i class="mdi mdi-delete ml-1 mdi-24px"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#ccTable').DataTable({
                "bLengthChange": false,
                "pageLength": 5
            });
        });
        $(document).ready(function () {
            $('#ccTable2').DataTable({
                "bLengthChange": false,
                "pageLength": 5
            });
        });
        initTabs('groups-admins-second-tab');
    </script>
{% endblock %}